@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-card: #020617cc;
  --color-foreground: #e5e7eb;
  --color-muted: #9ca3af;
  --color-primary: #38bdf8;
  --color-secondary: #22c55e;
  --color-accent: #facc15;
}

html, body {
  min-height: 100%;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

